
<table>
    <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Five_Pointed_Star_Solid.svg/2175px-Five_Point0ed_Star_Solid.svg.png" height="20mm" width="20mm" class="star" ></td>
        <td class="titre"><strong>RECRUTEMENT</strong></td>
      
        
    </tr>
</table>
<table align="right">
    <tr>
        <td><p class="e"><strong>Voir les offres </strong></p></td>
        <td><p class="b"><strong> Se connecter </strong></p></td>
        <td><p class="c"><strong> S'inscrire </strong></p></td>
        <td><p class="d"><strong> Français </strong></p></td>

    </tr>
</table>
<hr color="black" width="100%">
<table>
    
    <tr>
        <td><p class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD2plDVgEIX2wpSjLdzwgNz83htWc3xHAZew&usqp=CAU" width="750mm" height="400mm"></p></td>
        
    </tr>
    <p class="r"><strong>votre milieu de</strong></p>
    <p class="t"><strong>rencontre entre talents</strong></p>  
    <p class="m"><strong>et recruteurs</strong></p> 
</table>
<table>
    <tr>
        <td><p class="compte">Créer votre compte</p></td>
    </tr>
</table>
<p class="image2"><img src="https://thumbs.dreamstime.com/b/trust-icon-loyalty-to-brand-company-product-consumer-confidence-handshake-two-partners-arrangement-business-203955732.jpg" width="700mm" height="600mm"></p>
<p class="p">
    Votre logiciel de recrutement le
</p>
<p class="q">
   plus efficace
</p>
<p class="j">
    "recrutement" a pour objectif de 
</p>
<p class="g">
    poster les dernières offres
</p>
<p class="l">
    d'emploi. Donc sachez que vous
</p>
